<section class="bienvenida">
    <div class="content-info">
        <div class="info-empresa">
            <img class="logoempresa" src="../../../assets/LOGOS/logo_SEGUROPULUDO_blanco.png" alt="">
            <img class="img-eslogan" src="../../../assets/PNG/eslogan.png">
            <button class="btn btn-dark conocemas">
                CONOCE MÁS
            </button>
            <div class="btnnext">
                <button class="btn btnmoverpage" (click)="this.serGlobal.scroll('.porque')"><i nz-icon nzType="down" nzTheme="outline"></i></button>
            </div>
        </div>
    </div>
</section>