<section class="porque">
    <div class="content-info">
        <div class="titulo">
            <h1>Elige el plan que se adapta a las</h1>
            <h1>necesidades de tu peludito</h1>
        </div>
        <div class="content-planes">
            <section>
                <div class="contshaw">
                    <div class="beneficios">
                        <div class="infoplan">
                            <div class="plan">
                                <p>Beneficios</p>
                            </div>
                            <div class="informacion" style="border: none;">
                                <label style="font-size: 17px; font-weight: 400;">
                                    <p>Valor de tu</p>
                                    <p>Seguro Anual</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="switch">
                        <input name="switch" id="one" type="radio" checked />
                        <label for="one" class="switch__label">
                            <div class="infoplan">
                                <div class="plan">
                                    <p>Plan Plus</p>
                                    <p>perros</p>
                                </div>
                                <div class="informacion">
                                    <p>$ 259.900</p>
                                </div>
                            </div>
                        </label>

                        <input name="switch" id="two" type="radio" />
                        <label for="two" class="switch__label">
                            <div class="infoplan">
                                <div class="plan">
                                    <p>Plan Plus</p>
                                    <p>perros</p>
                                </div>
                                <div class="informacion">
                                    <p>$ 259.900</p>
                                </div>
                            </div>
                        </label>

                        <input name="switch" id="three" type="radio" />
                        <label for="three" class="switch__label">
                            <div class="infoplan">
                                <div class="plan">
                                    <p>Plan Plus</p>
                                    <p>perros</p>
                                </div>
                                <div class="informacion">
                                    <p>$ 259.900</p>
                                </div>
                            </div>
                        </label>

                        <div class="switch__indicator"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-info">
            <P>Aquí encontrarás las coberturas y asistencias que</P>
            <P>aquelreúnen lo mejor de Seguro Peludo</P>
        </div>
    </div>
</section>




<!-- <form [formGroup]="formulario">
    <div [class.error]="formulario.controls.user.errors?.['required'] && (user.touched || user.dirty)">
        <input type="text" formControlName="user">
    </div>
</form> -->