<div class="footer">
    <div class="info-footer">
        <div class="pagosbanco">
            <div class="smundial">
                <img src="../../../assets/LOGOS/logoseguromundial.png">
            </div>
            <div class="mediospagos">
                <p>Medios de Pago</p>
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
            </div>

            <div class="siguenos">
                <p>Síguenos en redes sociales</p>
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
            </div>
        </div>
        <div class="help">
            <div class="powered">
                <p>Powered by:</p>
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
                <img src="../../../assets/PNG/logo-pse.png" alt="">
            </div>

            <div class="ayuda">
                <p>Ayuda</p>
                <div class="acontent">
                    <p>Síguenos en redes sociales</p>
                    <p>Síguenos en redes sociales</p>
                </div>

            </div>
        </div>
    </div>
</div>