<div class="header">
    <div class="logo" (click)="scroll('.bienvenida')">
        <img src="../../../assets/LOGOS/logoseguromundial.png">
    </div>
    <ul class="options">
        <li>
            <a (click)="scroll('.porque')">¿Por Que?</a>
        </li>
        <li>
            <a (click)="scroll('.nuestrosplanes')">Nuestros Planes</a>
        </li>
        <li>
            <a (click)="scroll('.quieresinfo')">¿Quieres más info?</a>
        </li>
        <li>
            
            <a (click)="scroll('.club')">Club</a>
        </li>
        <li>
            <a (click)="scroll('.blog')">Blog</a>
        </li>
    </ul>
    <div class="cont-buttons">
        <button class="btn btnin-primary">Contáctanos</button>
        <button class="btn btn-secondary" (click)="scroll('.comprar')">¡COMPRA TU SEGURO!</button>
    </div>
</div>
<div class="content-section">
    <section class="bienvenida">
    </section>
    <section class="porque">
    </section>
    <section class="nuestrosplanes">
    </section>
    <section class="club">
    </section>
    <section class="comprar">
        <div class="floating-label" style="margin-top: 20px">
            <input type="text" class="floating-input" placeholder=" ">
            <label>Label</label>
        </div>
        <br>
        <br>
        <div class="floating-label">
            <select class="floating-select" style="padding-right: 15px;">
                <option value="1">Audi</option>
                <option value="2">BMW</option>
                <option value="3">Citroen</option>
                <option value="4">Ford</option>
                <option value="5">Honda</option>
                <option value="6">Jaguar</option>
                <option value="7">Land Rover</option>
                <option value="8">Mercedes</option>
                <option value="9">Mini</option>
                <option value="10">Nissan</option>
                <option value="11">Toyota</option>
                <option value="12">Volvo</option>
            </select>
            <label>Label</label>

        </div>
        <br><br>
        <div class="cacho">
            <div>
                <input type="radio" id="control_01" name="select" value="1" checked>
                <label for="control_01">
                    Pfft
                </label>
            </div>
            <div>
                <input type="radio" id="control_02" name="select" value="2">
                <label for="control_02">
                    Wannabe
                </label>
            </div>
        </div>
    </section>
</div>