<section class="porque">
    <div class="content-info">
        <div class="titulo">
            <h1>¿Por Qué</h1>
            <h2>Seguro Peludo?</h2>
        </div>
        <div class="content-imagen">
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Atención</p>
                    <p>Veterinaria</p>
                </div>
            </div>
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Servicios de</p>
                    <p>Guardería</p>
                </div>
            </div>
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Servicios</p>
                    <p>Funerarios</p>
                </div>
            </div>
        </div>
        <div class="text-info">
            <P>Estar preparado es la mejor opción para proteger la vida de</P>
            <P>aquellos peluditos a los que tanto amamos.</P>
        </div>
        <div class="btns-info">
            <button class="btn btn-secondary conocemas" (click)="serGlobal.scroll('.planes')">
                VEAMOS LOS PLANES
            </button>

            <button class="btn btn-info conocemas">
                VER EBOOK
            </button>
        </div>
    </div>
</section>