<section class="club">
    <div class="content-info">
        <div class="titulo">
            <h1>¿Un seguro que te abre las</h1>
            <h2>puertas a un CLUB?</h2>
        </div>
        <div class="content-imagen">
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Descuentos y</p>
                    <p>promociones</p>
                </div>
            </div>
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Precios</p>
                    <p>especiales</p>
                </div>
            </div>
            <div class="imginfo">
                <img src="../../../../../assets/JPG/PERRO-CONO.jpg" class="imginto">
                <div class="textimg">
                    <p>Experiencias</p>
                    <p>únicas</p>
                </div>
            </div>
        </div>
        <div class="text-info">
            <P>Con Seguro Peludo tienes acceso a un club de beneficios digitales en</P>
            <P>diferentes establecimientos del país; mejor dicho, beneficios que vas a poder</P>
            <P>convertir en experiencias únicas e inolvidables.</P>
        </div>
        <div class="btns-info">
            <button class="btn btn-secondary conocemas" (click)="serGlobal.scroll('.comprar')" >
                COMPRA TU SEGURO
            </button>
        </div>
    </div>
</section>