<section class="planes">
    <div class="content-info">
        <div class="titulo">
            <h1>Nuestros Planes</h1>
            <p>Diseñados pensando en la tranquilidad</p>
            <p>de tu peludo:</p>
        </div>
        <div class="tableinfo">
            <table class="tiposplanes">
                <tr class="plan">
                    <th></th>
                    <td class="plus">
                        <p class="tipoplan">Plan plus</p>
                        <p class="mascota">PERROS</p>
                        <p class="tiempo">Anual</p>
                    </td>
                    <td class="premium">
                        <p class="tipoplan">Plan Premium</p>
                        <p class="mascota">PERROS</p>
                        <p class="tiempo">Anual</p>
                    </td>
                    <td class="gatos">
                        <p class="tipoplan">Plan</p>
                        <p class="mascota">GATOS</p>
                        <p class="tiempo">Anual</p>
                    </td>
                </tr>
            </table>
            <table class="infoplan">
                <tr class="productos">
                    <th> <b>Valor de tu seguro anual</b> </th>
                    <td><b>$ 259.900</b></td>
                    <td><b>$ 354.900</b></td>
                    <td><b>$ 200.900</b></td>
                </tr>
                <tr class="encabezado">
                    <th colspan="4">
                        <b>COBERTURAS BÁSICAS</b>
                    </th>
                </tr>
                <tr class="productos">
                    <th>Daños a bienes de terceros</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Lesiones o muerte a terceros</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Daños o lesiones causadas por la mascota</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Gastos médicos de urgencia</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Gastos de defensa</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>


                <tr class="encabezado">
                    <th colspan="4">
                        <b>COBERTURA ADICIONAL</b>
                    </th>
                </tr>
                <tr class="productos">
                    <th>Muerte accidental de la mascota</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>

                <tr class="encabezado">
                    <th colspan="4">
                        <b>ASISTENCIAS</b>
                    </th>
                </tr>
                <tr class="productos">
                    <th>Orientación veterinaria telefónica</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Agendamiento de consultas veterinarias</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Consulta veterinaria a domicilio o en clínica por urgencia</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Exámenes de laboratorio básico</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Traslado de la mascota en caso de emergencia</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Sala de urgencia veterinaria por accidente</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Urgencia dental para la mascota</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Asistencia por pérdida de la mascota</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Baño y peluquería cuando la mascota haya sido hospitalizada como consecuencia de un accidente o enfermedad</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"></td>
                </tr>
                <tr class="productos">
                    <th>Refuerzo de vacunas para la mascota</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"></td>
                </tr>
                <tr class="productos">
                    <th>Orientación legal telefónica</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"></td>
                </tr>
                <tr class="productos">
                    <th>Asistencia exequial (eutanasia o cremación colectiva por cualquier causa)</th>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Orientación psicológica al dueño por fallecimiento de la mascota</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                </tr>
                <tr class="productos">
                    <th>Guardería veterinaria en caso de hospitalización o viaje del asegurado</th>
                    <td class="check"></td>
                    <td class="check"><i nz-icon nzType="check" nzTheme="outline"></i></td>
                    <td class="check"></td>
                </tr>
            </table>
        </div>
        <div class="tableinforespon">
            <div class="contenttabla">
                <table>
                    <tr class="encabezados">
                        <th class="beneficios">
                            <div class="texttit">
                                Beneficios
                            </div>
                        </th>
                        <th class="plus">
                            <div class="texttit">
                                <p>Plan</p>
                                <p>Plus</p>
                                <p>Perros</p>
                            </div>
                        </th>
                        <th class="premium">
                            <div class="texttit">
                                <p>Plan</p>
                                <p>Premium</p>
                                <p>Perros</p>
                            </div>
                        </th>
                        <th class="gatos">
                            <div class="texttit">
                                <p>Plan</p>
                                <p>Gatos</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="texttit">
                                <p>Valor de tu</p>
                                <p>Seguro</p>
                                <p>Anual</p>
                            </div>
                        </td>
                        <td>
                             <div class="texttit">
                                <p>$ 259.900</p>
                            </div>
                        </td>
                        <td>
                             <div class="texttit">
                                <p>$ 354.900</p>
                            </div>
                        </td>
                        <td>
                             <div class="texttit">
                                <p>$ 200.900</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-info">
            <P>Aquí encontrarás las coberturas y asistencias</P>
            <P>que reúnen lo mejor de Seguro Peludo</P>
        </div>
        <div class="info-empresa">
            <button class="btn btnin-primary nompeludo" style="font-size: 13px;">Nombre de tu peludo</button>
            <button (click)="serGlobal.scroll('.comprar')" class="btn btn-secondary conocemas">
                COMPRA TU SEGURO
            </button>
            <div class="btnnext">
                <button class="btn btnmoverpage" (click)="serGlobal.scroll('.porque')"><i nz-icon nzType="up" nzTheme="outline"></i></button>&nbsp;
                <button class="btn btnmoverpage" (click)="serGlobal.scroll('.club')"><i nz-icon nzType="down" nzTheme="outline"></i></button>
            </div>
        </div>
    </div>
</section>